
.jumbotron { background-color: transparent;}


body {
    background-image: url('gameboi.png');
    background-color: #88b745; 
        max-height: 100%;
        max-width: 100%; 
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: auto;
        overflow-y: auto;   }


    .container-0 { position: relative;  }
                   
                   
    .container-1 { position: relative;
                   left: 10%;  }


        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #9ec963;
            color: white;
            text-align: center;
         }

.btn-1 {
    background-color: #333; /* Green background */
    border: 5px solid rgb(2, 122, 2); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 150px; /* Set a width if needed */
    display: inline-flex; /* Make the buttons appear below each other */
}

.btn-1 :not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-1 :hover {
    background-color: #3e8e41;
}

 

  #gifArea { 
    overflow: auto;
    width: 600px;
    height: 500px;
    position: relative; 
        top: 5%;
        left: 20%;
    }

    ::-webkit-scrollbar {
        width: 20px;
    }
    
 
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
     
  
::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 10px; 
    }
    

::-webkit-scrollbar-thumb:hover  {
        background: #333; 
    }


h1 { font-size: 2.5em;
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-weight: bolder;   
  } 
    
    p { font-size: 1.2em;
        font-family: 'Gloria Hallelujah', cursive;
        color: black;
        font-weight: bold; 
    }
    